.error{
  color: red;
}

/*input.required{
}*/
.has-error .form-control{
  border: 1px solid red;
}
.has-success .form-control{
 border-color:  #009688;
}
.wizard>.steps .done a,.wizard>.steps .done a:hover,.wizard>.steps .done a:active{background:#9dc8e2;color:#fff}
  .tabcontrol>.steps>ul>li.current{background:#fff;border:1px solid #bbb;border-bottom:0 none;padding:0 0 1px 0;margin-top:0}
  .tabcontrol>.steps>ul>li.current>a{padding:15px 30px 10px 30px}
  .wizard>.steps .current a,.wizard>.steps .current a:hover,.wizard>.steps .current a:active{background:#2184be;color:#fff;cursor:default}
  .wizard>.steps .error a,.wizard>.steps .error a:hover,.wizard>.steps .error a:active{background:#ff3111;color:#fff}
  .wizard>.steps .current-info,.tabcontrol>.steps .current-info,.wizard>.content>.title,.tabcontrol>.content>.title{position:absolute;left:-999em}
  .wizard>.actions{
    width: 100%;
  } 
  .wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active{
    background:#2184be;
    color:#fff;
    display:block;
    padding:.5em 1em;
    text-decoration:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin: 0px 10px ;

  }
  .wizard>.actions .disabled a,.wizard>.actions .disabled a:hover,.wizard>.actions .disabled a:active{background:#eee;color:#aaa}